$color-white:#FFFFFF;
$color-balack:#000000;
$color-pink:#f08ba9;
$color-aqua:#00b1ad;
$color-aqua-dark:#ccefef;
$color-pink-dark:#f4d6d9;
$color-pink-light:#f7c5d4; 
$color-gray:#edece6;
$color-yellow-dark:#fdedd1;