.story-filter {
    &__sec {
        padding-top: 22px;
        padding-bottom: 15px;
        position: relative;
        border-top: solid 1px $color-balack;

        @media (max-width:567px) {
            padding-top: 12px;
            padding-bottom: 5px;
        }

        .story-filter {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width:767px) {
                justify-content: inherit;
            }

            li {
                margin: 0 0 7px;
                padding: 0 50px 0 0;
                list-style: none;

                @media (max-width:767px) {
                    padding: 0 40px 0 0;
                }

                @media (max-width:567px) {
                    padding: 0 30px 0 0;
                }

                a {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    letter-spacing: normal;
                    font-family: 'HelveticaNeue-BoldCond';
                    font-weight: normal;

                    &.active {
                        border-bottom: solid 1px $color-balack;
                    }

                }

                .sub-filter-sec {
                    padding-top: 31px;
                    padding-bottom: 2px;
                    top: 100%;
                    display: none;
                    position: absolute;
                    background-color: $color-white;
                    left: 0;
                    width: 100%;
                    z-index: 9;
                    border-bottom: solid 1px $color-balack;
                    border-top: solid 1px $color-balack;

                    @media (max-width:567px) {
                        padding-top: 20px;
                    }

                    .sub-filter-sec-row {
                        display: flex;
                        flex-wrap: wrap;

                        .sub-filter {
                            padding-right: 40px;
                            padding-bottom: 30px;
                            min-width: 240px;
                            margin: 0;

                            @media (max-width:1199px) {
                                padding-right: 60px;
                                min-width: inherit;
                            }

                            @media (max-width:767px) {
                                padding-bottom: 15px;
                            }

                            li {
                                margin: 0 0 7px;
                                padding: 0;

                                &.active-item {
                                    a {
                                        &::after {
                                            background-color: $color-balack;
                                        }
                                    }
                                }

                                strong {
                                    margin-bottom: 16px;
                                    display: block;
                                    font-size: 16px;
                                    letter-spacing: -0.010em;
                                    text-transform: uppercase;
                                    font-family: 'HelveticaNeue-BoldCond';
                                    font-weight: normal;

                                    @media (max-width:567px) {
                                        margin-bottom: 8px;
                                    }
                                }

                                a {
                                    padding: 0 0 0 22px;
                                    display: block;
                                    text-decoration: none;
                                    font-size: 16px;
                                    letter-spacing: -0.010em;
                                    font-family: 'HelveticaNeue-Roman';
                                    font-weight: normal;
                                    position: relative;

                                    &::after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        top: 4px;
                                        left: 0;
                                        height: 12px;
                                        width: 12px;
                                        border: solid 1px $color-balack;
                                        border-radius: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.s-grid {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px $color-balack;

    &__item {
        width: 33.33%;
        padding: 5.138888888888888vw;
        border-bottom: solid 1px $color-balack;
        border-left: solid 1px $color-balack;

        @media (max-width:991px) {
            padding-left: 6vw;
            padding-right: 6vw;
        }

        @media (min-width:768px) {
            &:nth-child(3n + 1) {
                border-left: none;
            }
        }

        @media (min-width:480px) and (max-width:767px) {
            border-left: none;

            &:nth-child(odd) {
                border-right: solid 1px #000;
            }
        }



        @media (max-width:767px) {
            width: 50%;
        }

        @media (max-width:479px) {
            border-left: none;
            width: 100%;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__card {
        .content-card__heading {
            margin: 20px 0 0;

            @media (max-width:767px) {
                margin: 15px 0 0;
            }

        }

        p {
            margin: 0 0 22px;
            padding: 0;
            font-size: 18px;
            letter-spacing: -0.010em;

            @media (max-width:991px) {
                margin: 0 0 15px;
                font-size: 16px;
            }
        }

        a {
            display: block;
            font-size: 18px;
            letter-spacing: -0.010em;
        }
    }
}

.story-btn-bar {
    border-top: solid 1px $color-balack;
    margin-top: -1px;
    text-align: center;
    padding: 53px 0 54px;

    @media (max-width:991px) {
        padding: 40px 0;
    }

    @media (max-width:767px) {
        padding: 35px 0;
    }
}


.block-intro-text {

    &__inner {
        padding-top: 58px;
        padding-bottom: 38px;

        @media (max-width:991px) {
            padding-top: 38px;
            padding-bottom: 18px;
        }

        @media (max-width:567px) {
            padding-top: 28px;
            padding-bottom: 8px;
        }

        p {
            font-size: 18px;
            padding: 0;
            text-align: center;

            strong {
                text-transform: uppercase;
                font-family: 'HelveticaNeue-BoldCond';
                font-weight: normal;
            }

            a {
                display: inline-block;
                text-decoration: underline;
            }
        }
    }
}


.page-banner {
    background-image: url(../images/ms-stories-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;

    @media (max-width:991px) {
        height: 180px;
    }

    @media (max-width:767px) {
        height: 160px;
    }

    @media (max-width:567px) {
        height: 140px;
    }
}